/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  width: 902px;
  margin: auto;
}

.logo {
  float: left;
  margin: 30px 2px;
}

.logo img {
  display: inline;

}

.logo-slogan {
  diaply: inline;
}


nav ul {
  display: inline;
  float: right;
  margin: 40px 0px 40px 15px;
}

nav li, .print {
  display: inline;
}

nav {
  content: " ";
  display: block;
  clear: both;
  height: 100px;
  border-bottom: #bfbfbf solid 8px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 36px;
margin-bottom: 5px;
}

.uppercase {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 12px;
color: #8c8c8c;
}

.logo-name {
  font-family: 'Yellowtail', cursive;
  font-size: 36px;
  font-weight: bolder;
  display: inline;
}

.post-container {
  content: " ";
  display: block;
  clear: both;
  margin-top: 50px;

}

.left {
  float: left;
  margin: 20px 0px;

}

.right {
  float: right;
  margin: 35px 0px;

}

.section {
  display: block;
}
.indent {
  text-indent: 50px;
  display: block;
  text-align: justify;
  margin-bottom: 25px;
  color: #8c8c8c;
}

.author {
  content: " ";
  display: block;
  clear: both;
  height: 100px;
  border-top: #bfbfbf solid 8px;
}

.author-description {
  margin-left: 20px;
  width: 60%;
  color: #8c8c8c;
}

.name {
  font-weight: bolder;
  margin-bottom: 10px;
  display: block;
}

p {
  font-family: 'Slabo 27px', serif;
}

label {
  font-family: 'Comic Sans MS'
}

.list-container {
  position: relative;
  display: block;
  color: #737373;
}

.list-right {
  display: block;
  position: absolute;
  top: 35px;
  right: 115px;
  width: 40%;
  font-size: 18px;
  line-height: 30px;
}

.list-left {
  display: block;
  position: absolute;
  top: 35px;
  left: 60px;
  width: 40%;
  font-size: 18px;
  line-height: 30px;
}

input[type=checkbox]:checked + label.checked{
  text-decoration: line-through;
}

button {
  background: #d16a47;
  border: none;
    color: white;
    padding: 15px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;

}

footer {
  position: relative;
    content: " ";
    display: block;
    clear: both;
    height: 100px;
    border-top: #d9d9d9 solid 1px;
    text-align: center;
    color: #d9d9d9;
padding: 35px;
}

.footer-logo {
  position: absolute;
  top: -15px;
  left: 47%;
  display: inline-block;
}
